.articles {
    background: $verylightGrayViolet;
}

.article {
    &__content {}

    &__grid {

        display: grid;
        // grid-template-columns: repeat(auto-fit, minmax(18.75rem, 1fr));
        // min width(15rem), max width(1fr)에 대해 auto 조정.

        grid-template-columns: 1fr;
        // fr : fracture
        // mobile은 1 column

        @include breakpoint-up(medium) {
            grid-template-columns: repeat(2, 1fr);
            //     // 각각의 unit으로 2개의 column을 만듭니다
            //     // tablet
        }

        @include breakpoint-up(large) {
            grid-template-columns: repeat(4, 1fr);
            //     // desk-top
        }
    }

    &__item {
        // margin: 1rem;
        border-radius: 0.4rem;
        overflow: hidden;
    }

    &__image {
        height: 20rem;
        width: 18.75rem;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        border-radius: 3.125rem;
    }

    &__text {
        //mobile
        padding: 1.5rem 1.5rem 2.5rem 1.5rem;

        //tablet
        @include breakpoint-up(medium) {
            padding: 1.5rem 2.5rem;
        }

        color:gray;
        text-align: left;
    }

    &__author {}

    &__title {}

    &__desc {}
}