html {
    font-size: 100%;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    padding: 0;
    margin: 0;
    line-height: 1.3;
    font-family: 'Roboto Condensed', 'Noto Sans KR', sans-serif;
    font-weight: 300;
    font-size: $font-md;
    color: #666363;
}

//a tag
a,
a:visited,
a:hover {
    text-decoration: none;

}


// spacing - mobile
.container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}



//flex box

.flex {
    display: flex;

    &-jc-sb {
        justify-content: space-between;
    }

    &-jc-c {
        justify-content: center;
    }

    &-ai-c {
        align-items: center;
    }
}

//buttons
button,
.button {
    padding: 1rem 3rem;
    border: 0;
    border-radius: 30px;
    color: $white;
    font-weight: 400;
    background: linear-gradient(to right, $violet, $darkViolet);
    cursor: pointer;
}

//visability
.hide-for-mobile {
    //hide for mobile 모바일을 위해 pc ui를 숨김처리

    //max width가 1023px
    @include breakpoint-down(medium) {
        display: none;
    }
}

.hide-for-desktop {

    //pc화면을 위해 모바일 ui를 숨김처리
    //hide for desktop viewport widths
    @include breakpoint-up(large) {
        display: none;
    }
}