.header {
    nav {
        padding: 24px;
    }

    &__logo {
        img {}
    }

    &__menu {

        //mobile menu_yt
        // span {
        //     display: block;
        //     width: 20px;
        //     height: 2px;
        //     background: $darkViolet;

        //     &:not(:last-child) {
        //         margin-bottom: 3px;
        //     }
        // }
    }

    &__links {
        a {
            font-size: $font-md;
            color: $gray;
            font-weight: 500;

        }
    }

    &__cta {
        font-size: $font-md;
        color: $white;
    }

}