.hero {
    background: $verylightGrayViolet;

    .container {

        @include breakpoint-up(large) {
            display: flex;
            align-items: center;
        }
    }


    &__image {
        background: url('../../images/easybank_back_mobile.png');
        position: relative;
        background-repeat: no-repeat;
        background-size: 65%;
        background-position: center center;
        min-height: 38rem;
        right: 3%;

        @include breakpoint-down(medium) {

            &::before {
                // content: "";
                // position: absolute;
            }

        }

        @include breakpoint-up(large) {

            flex: 3;
            height: 35rem;
            order: 2;
            background: url('../../images/easybank_back_pc.png');
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center center;
            left: 3%;

        }


    }

    &__text {
        text-align: center;

        @include breakpoint-up(large) {
            flex: 2; // parent의 공간 중 2 만큼을 배분한다는 뜻
            order: 1;
            text-align: left;
        }
    }
}