// colors
$darkViolet:#290B68;

$violet:#680DC2;

$lightViolet:#B08FE5;

$lightGrayViolet:#CCC4D7;

$black:#000000;

$white:#ffffff;

$gray:#666363;

$darkGray:#3F3C3C;

$lightGray:#9A9797;

//font sizes
$font-sm : 0.625rem; //10px
$font-smmd:0.875rem; //14px
$font-md:1.125rem; //18px
$font-mdlg:1.5rem; //24px
$font-lg:2rem; // 32px