html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  line-height: 1.3;
  font-family: 'Roboto Condensed', 'Noto Sans KR', sans-serif;
  font-weight: 300;
  font-size: 1.125rem;
  color: #666363;
}

body.noscroll {
  overflow: hidden;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0px;
}

.container {
  margin: 0 auto;
  max-width: 100rem;
}

.container--pall {
  padding-top: 2rem;
  padding-right: 1.5rem;
  padding-bottom: 2rem;
  padding-left: 1.5rem;
}

.container--py {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.container--px {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

.container--pr {
  padding-right: 1.5rem;
}

.container--pt {
  padding-top: 2rem;
}

.container--pb {
  padding-bottom: 2rem;
}

.container--pl {
  padding-left: 1.5rem;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

button,
.button {
  padding: 1rem 3rem;
  border: 0;
  border-radius: 30px;
  color: #ffffff;
  font-weight: 400;
  background: -webkit-gradient(linear, left top, right top, from(#680DC2), to(#290B68));
  background: linear-gradient(to right, #680DC2, #290B68);
  cursor: pointer;
  font-size: 1.125rem;
  color: #ffffff;
  -webkit-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
}

button:hover,
.button:hover {
  opacity: 0.7;
}

@media (max-width: 63.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 64em) {
  .hide-for-desktop {
    display: none;
  }
}

.header nav {
  padding-top: 1.0625rem;
  padding-bottom: 1.0625rem;
  position: relative;
  background: #ffffff;
}

.header__logo img {
  width: 9rem;
  height: 1.75rem;
}

.header.open .header__toggle > span:first-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header.open .header__toggle > span:nth-child(2) {
  opacity: 0;
}

.header.open .header__toggle > span:last-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header .overlay {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3F3C3C), to(transparent));
  background-image: linear-gradient(#3F3C3C, transparent);
}

.header__toggle span {
  display: block;
  width: 28px;
  height: 3px;
  background: #290B68;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  -webkit-transform-origin: 2.5px 1px;
          transform-origin: 2.5px 1px;
}

.header__toggle span:not(:last-child) {
  margin-bottom: 5px;
}

.header__menu {
  position: absolute;
  padding: 1.625rem;
  border-radius: 5px;
  margin-top: 1.5rem;
  width: calc(100% - 3rem);
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: #ffffff;
}

.header__menu a {
  display: block;
  padding: 0.625rem;
  color: #666363;
  text-align: center;
  font-size: 1.125rem;
  font-weight: 500;
}

.header__links a {
  position: relative;
  color: #666363;
  font-size: 1.125rem;
  font-weight: 500;
  -webkit-transition: color 300ms ease-in-out;
  transition: color 300ms ease-in-out;
}

.header__links a:not(:last-child) {
  margin-right: 32px;
}

.header__links a::before {
  position: absolute;
  display: block;
  height: 5px;
  left: 0;
  right: 0;
  bottom: -34px;
  content: "";
  background: -webkit-gradient(linear, left top, right top, from(#680DC2), to(#290B68));
  background: linear-gradient(to right, #680DC2, #290B68);
  opacity: 0;
  -webkit-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
}

.header__links a:hover {
  color: #680DC2;
}

.header__links a:hover::before {
  opacity: 1;
}

.hero {
  background: #f4f2f8;
}

@media (min-width: 64em) {
  .hero .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.hero__image {
  background: url("../../images/easybank_back_mobile.png");
  position: relative;
  background-repeat: no-repeat;
  background-size: 65%;
  background-position: center center;
  min-height: 38rem;
  right: 3%;
}

@media (min-width: 64em) {
  .hero__image {
    -webkit-box-flex: 3;
        -ms-flex: 3;
            flex: 3;
    height: 35rem;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    background: url("../../images/easybank_back_pc.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    left: 3%;
  }
}

.hero__text {
  text-align: center;
}

@media (min-width: 64em) {
  .hero__text {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    text-align: left;
  }
}

.hero__text h1 {
  font-weight: bold;
  color: #000000;
  font-size: 2.5rem;
  line-height: 1.1;
  margin-bottom: 2rem;
}

@media (min-width: 64em) {
  .hero__text h1 {
    font-size: 3rem;
  }
}

.hero__text h1 b {
  font-size: 2.5rem;
  color: #680DC2;
  font-weight: bolder;
}

@media (min-width: 64em) {
  .hero__text h1 b {
    font-size: 3rem;
  }
}

.hero__text p {
  line-height: 1.8;
  margin-bottom: 2rem;
}

@media (min-width: 64em) {
  .hero__text p {
    font-size: 1.125rem;
  }
}

.has-fade {
  visibility: hidden;
}

@-webkit-keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

.fade-in {
  -webkit-animation: fade-in 250ms ease-in-out forwards;
          animation: fade-in 250ms ease-in-out forwards;
}

@-webkit-keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

.fade-out {
  -webkit-animation: fade-out 250ms ease-in-out forwards;
          animation: fade-out 250ms ease-in-out forwards;
}

@media (min-width: 40em) {
  .feature__grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.feature__item {
  padding: 1rem;
}

@media (min-width: 40em) {
  .feature__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 50%;
            flex: 1 0 50%;
  }
}

@media (min-width: 64em) {
  .feature__item {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

.feature__icon img {
  width: 3.5rem;
}
/*# sourceMappingURL=style.css.map */